
<h1 id='title'>Messaging Ember-CLI application</h1>

<ul>
    <li>{{#link-to 'application'}}Home{{/link-to}}</li>
    <li>{{#link-to 'newmessage'}}Add Messages{{/link-to}}</li>
    <li>{{#link-to 'messages'}}View/Edit/Delete Messages{{/link-to}}</li>
</ul>
<hr/>

{{outlet}}
